**/.classpath
**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/.vs
**/.vscode
**/*.*.user
**/.vs
**/.vscode
**/bin
**/obj
**/.DS_Store
**/README.md
**/docker-compose*.yml
**/Dockerfile*
**/*dockerfile*
**/docker-compose*
**/.dockerignore
**/node_modules
**/npm-debug.log
**/yarn-error.log
